@tailwind base;
@tailwind components;
@tailwind utilities;

main > div > div {
  background-color: #1b1a55;
  width: 20px;
  height: 90px;
  /* border-radius: 50px; */
  position: absolute;
  clip-path: polygon(50% 0px, 100% 10%, 100% 90%, 50% 100%, 0px 90%, 0 10%);
}
.leftHour {
  width: 120px;
  height: 240px;
  position: relative;
}

.top {
  rotate: 90deg;
  top: -35px;
  left: 25px;
  translate: 120% 0;
}
.topL {
  top: 15px;
}
.bottomL {
  top: 115px;
}
.topR {
  top: 15px;
  left: calc(100% - 20px);
}
.bottomR {
  top: 115px;
  left: calc(100% - 20px);
}

.bottom {
  rotate: 90deg;
  top: 165px;
  left: 50px;
}

.semiColon {
  margin: 10px;
  translate: 0 -15px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  animation: fadeInOut 1s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.semiColon > div {
  background-color: white;
  position: unset;
  clip-path: none;
  height: 20px;
}

.mid {
  rotate: 90deg;
  top: 65px;
  left: 50px;
}
